.message__bar {
  box-shadow: 0 1px 2px 0 var(--fds-black-alpha-10);
  height: 60px;
  padding: 13px 16px 13px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 22px auto;
  align-items: center;
  grid-gap: 10px;
}

.message__username-list-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 575px;
}

.message__username-list {
  margin: 0 5px;
  background: #cbe6fe;
  border-radius: 4px;
  cursor: default;
  padding: 2px 6px;
  color: #0084ff;
  font-size: 15px;
}

.left {
  color: rgba(0, 0, 0, 1);
  background-color: #f1f0f0;
  margin: 1px 0;
  padding: 6px 12px 7px;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
  float: left;
  max-width: 60%;
}

.right {
  color: #ffffff;
  background: #1da1f2;
  margin: 1px 0;
  padding: 6px 12px 7px;
  border-radius: 1.3em;
  float: right;
  max-width: 60%;
}

.message__wrapper {
  overflow-y: scroll; 
  height: 100%;
  padding: 0 10px;
}

.message__wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.message__wrapper::-webkit-scrollbar-track {
	border-radius: 10px;
}

.message__wrapper::-webkit-scrollbar {
	width: 6px;
}

.message__wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
}

.message__fix {
  display: grid;
  grid-template-columns: 1fr minmax(0,650px) 1fr;
  position: fixed;
  bottom: 0;
}

.message__background {
  background: #ffffff;
}

.message__input {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 18px;
  display: flex;
  flex: 1 1 auto;
  margin: 10px;
  padding: 0 8px 0 12px;
  overflow: hidden;
  
  .contentEditable {
    width: 100%;
    min-height: 36px;
    padding: 9px 0;
    outline-color: transparent;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

.message__time {
  text-align: center;
  color: rgba(0, 0, 0, .40);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px 0;
}

.message__user {
  display: grid;
  grid-template-columns: 28px auto;
  grid-gap: 10px;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
  }
}

.message__clearfix {
  margin-left: 38px;
  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: left;
  }
}

.message__clearfix:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.message__content {
  // word-wrap: break-word;
}

.message__username {
  color: rgba(0, 0, 0, .40);
  font-size: 13px;
  margin-bottom: 8px;
}

.message__bottom {
  height: 60px;
}

.center {
  text-align: center;
  margin: 50px 0;
}

.message__error {
  font-size: 13px;
  color: red;
  text-align: center;
  cursor: pointer;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder);
  color: #b3b3b3;
}
