.room__room--active {
  background-color: rgba(0, 0, 0, .05);
}

.room__lastmessage-active {
  font-weight: bold !important;
  color: #1c1e21 !important;
}

.rooms__wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 2px;
}

.rooms_username {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;

  h4 {
    font-weight: bold;
  }
}

.rooms__input {
  background-color: rgba(0, 0, 0, .04);
  border-radius: 50px;
  font-size: 15px;
  height: 36px;
  padding-left: 36px;
  padding-right: 16px;
  text-align: left;
  line-height: 30px;
  padding: 0 28px;
  margin: 10px;
  width: 92%;
  border: none;
  outline: none;
}

.room__wrapper {
  overflow-y: scroll;
  padding: 0 10px;
}

.room__wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.room__wrapper::-webkit-scrollbar-track {
	border-radius: 10px;
}

.room__wrapper::-webkit-scrollbar {
	width: 6px;
}

.room__wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
}


.room {
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 50px minmax(0, 500px);
  grid-gap: 10px;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
  }
}

.room_username {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 288px;
}

.room_message {
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  font-weight: 400;
  height: 18px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  
  .room_content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
  }

}

.blur_background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: red;
}

.room__icon {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.room__notfound {
  color: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 17px;
}

.room__contact {
  background-color: transparent;
  color: rgba(0, 0, 0, .34);
  display: flex;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  padding-top: 8px;
  text-transform: uppercase;
}

.room__users {
  height: 32px;
}