.auth__tab {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin: 50px auto;
    span {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display:inline-block;
        margin: 40px 8px 10px 8px; 
        color: #cccccc;
        cursor: pointer;
    }
}

.auth__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #0d0d0d;
    padding-top: 70px;
}

.auth__active {
  color: #0d0d0d !important;
  border-bottom: 2px solid #5fbae9;
}

.auth__input {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    outline: none;
}

.auth__button {
    border: none;
    font-weight: bold;
    background-color: #39ace7;
    color: #fff;
    padding: 15px 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    cursor: pointer;
    outline: none;
    width: 200px;
}
