
.notification__scroll {
  overflow-y: scroll;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-left: 2px;
}

.notification__scroll:hover::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.notification__scroll::-webkit-scrollbar-track {
	border-radius: 10px;
}

.notification__scroll::-webkit-scrollbar {
	width: 6px;
}

.notification__scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
}

.notification__title {
  font-weight: 500;
  display: grid;
  grid-template-columns: 38px 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 var(--fds-black-alpha-10);
  height: 60px;
  padding: 13px 16px 13px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  button {
    height: 32px;
    background: #44CEFF;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(61, 141, 251, 0.5);
  }
}

.notification {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid #dddfe2;
  cursor: pointer;
  font-size: 15px;
  margin-right: 0;
}

.notification--active {
  background-color: #edf2fa;
}

.notification__icon-wrapper {
  position: relative;
  margin-top: 5px;
}

.notification__icon {
  width: 27px;
}

.notification__number {
  position: absolute;
  top: -4px;
  right: 5px;
  background: red;
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 11px;
}

.notification__time {
  font-size: 14px;
}
